<form [formGroup]="urlShorteningForm" (ngSubmit)="shortenUrl()">

	<h1>URL Shortener</h1>

	<label for="url">URL To Shorten &nbsp;</label>
	<input name="url" formControlName="url" id="url">

	<button [disabled]="!urlShorteningForm.valid">Shorten</button>
</form>
<a [href]="shortenedUrl" target="_blank">{{shortenedUrl}}</a>


<form [formGroup]="getOriginalUrlForm" (ngSubmit)="getOriginalUrl()">

	<h1>Get Original URL</h1>

	<label for="shortenedUrl">Shortened URL &nbsp;</label>
	<input name="url" formControlName="url" id="shortenedUrl">

	<button [disabled]="!getOriginalUrlForm.valid">Get Original</button>
</form>
<a [href]="shortenedUrl" target="_blank">{{originalUrl}}</a>
